@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <a href="~/Images/centricLogo.jpg">
            <img src="~/Images/centricLogo.jpg" class="img-rounded" alt="centricLogo" width="100%"/>
            <h2> Centric Consulting Core Values Project</h2>
            <p class="lead">This website recognizes employees who are exemplifying Centric's core value.</p>
            <p><a href="https://centricconsulting.com/about-us/why-were-here/" class="btn btn-warning btn-block">Learn more about Centric's values &raquo;</a></p>


    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Always being willing to help</h2>
            <p>
                Not only do we do what it takes to help our colleagues and clients, but we are always on the lookout for ways to make a positive impact.
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Treating clients like friends – because that’s what you become</h2>
            <p>
                Our clients are treated with the same adoration and respect we give our friends, which often leads to deeper and more positive relationships.
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Doing what it takes – together</h2>
            <p>
                We strive to put others before ourselves in an authentic way without any expectation of a payoff.
                Read more about our approach to creating unmatched experiences
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Add your details</h2>
            <p>
                Click here to finish up your profile details. @Html.ActionLink("UserDetails", "Index", "UserDetails")
            </p>
        </div>
